#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
h2 {
  text-align: center;
}
form {
  display: flex;
  text-align: center;
}
legend {
  font-weight: bold;
}
input {
  border: none;
  outline: none;
}
hr {
  margin: 35px auto;
}
table {
  width: 100%;
  text-align: justify;
}
tr:nth-child(odd) {
  background-color: #f2f2f2;
}
footer {
  text-align: center;
  padding: 35px 0px;
  background-color: whitesmoke;
}
